/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom:  1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin:  0.5rem;
	display: inline;
}
/*Navigation Bar End*/

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align:  center;
}

.header {
	text-align:  center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Intro Section End*/

/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top:  2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
text-align: center;
margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Succeed Info Section End*/

/*Footer*/
	footer {
		padding: 0.7rem;
		text-align: center;
	}

	footer span {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
/*Footer End*/

/*Pre-Footer*/
#pre-footer {
	background-color: #002540;
}
#pre-footer h3 {

	font-size: 1rem;
	margin-bottom: 0.5rem;

}
#pre-footer div {
	display: inline-block;
	color: white;
	/*vertical-align added to align Follow Us*/
	vertical-align: top; 
	width: 13%;
	padding: 1.5rem;
	font-size: 0.8rem;
	margin-left: 7rem;
	margin-right: 3.5rem;
}
/*Pre-Footer End*/